/target
/.settings
/.classpath
/.project
/.idea
*.iml
/build
.mvn/wrapper/maven-wrapper.jar
*.releaseBackup
*.properties
!.mvn/wrapper/maven-wrapper.properties
.env
.git
.github
target/
.mvn/wrapper/maven-wrapper.jar
*.iml
.idea/
.settings/